BasedOnStyle: chromium
IndentPPDirectives: AfterHash
NamespaceIndentation: All
UseTab: ForIndentation
IncludeBlocks: Regroup
KeepEmptyLinesAtTheStartOfBlocks: true
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Right
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
BinPackArguments: 'false'
BinPackParameters: 'false'
TabWidth: '2'